@import "vars.scss";
@import "fonts.scss";

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  content: '';
  position: absolute;
}

body {
  font-family: 'Lab Grotesque', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: $white;
  background: #262626 url('../images/body-bg.png');
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

fieldset {
  border: none;
}

input {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
  border: none;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1214px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

//vendor
@import "vendor/normalize.scss";
@import "vendor/custom-range.scss";

//sections
@import "blocks/header.scss";
@import "blocks/promo.scss";
@import "blocks/features.scss";
@import "blocks/refueling.scss";
@import "blocks/info.scss";
@import "blocks/experience.scss";
@import "blocks/constructor.scss";

@import "blocks/contact.scss";
@import "blocks/footer.scss";
//blocks
@import "blocks/logo.scss";
@import "blocks/menu.scss";
@import "blocks/btn.scss";
@import "blocks/title.scss";
@import "blocks/slider.scss";

//media
@import "media.scss";